@import "../../../styles/variables";

.Article-Image-Title {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 20%;
  height: 500px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em 2em 0;

  @media screen and (max-width: $mobile_width_threshold) {
    height: 300px;
  }

  &:after {
    width: 100%;
    height: 100%;
    content: '\A';
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
  }

  .Page-Title__container {
    height: 100%;
    width: 100%;
    max-width: $mobile_width_threshold;
    display: flex;
    align-items: flex-end;
  }
}
