@import "../../../styles/variables";

.Post-Media {
  margin: .8em 0;
  width: 100%;
  text-align: center;

  img {
    width: 65%;
    //float: right;
    margin: .4em 0;
  }
  video {
    width: 100%;
    height: auto;
    margin: .4em 0;
  }
}
