@import "./variables";

div, span, a, section, article, header, footer, nav {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  letter-spacing: 1px;

  font-size: 17px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 4.3em;
  line-height: 1em;
  margin: 0;
  text-transform: uppercase;
}

h2 {
  font-size: 3.4em;
  line-height: 1em;
  margin: 0;
  text-transform: uppercase;

  @media screen and (max-width: $mobile_width_threshold) {
    font-size: 2em;
  }
}

h3 {
  font-size: 2em;
  line-height: 1em;
  margin: 0;

  @media screen and (max-width: $mobile_width_threshold) {
    font-size: 1.6em;
  }
}

hr {
  width: 90%;
  //max-width: 900px;
  box-sizing: border-box;
  height: 1px;
  background: $blue_fade_linear_gradient;
  //background: white;
  opacity: 1;
  outline: none;
  border: none;
  margin: 0;
}

// duplicate from Hyperlink in case of adding links in text in CMS
a {
  color: white;
  font-weight: 500;
  transition: all .1s ease-in-out;
  text-decoration: none;
  position: relative;

  background-image: linear-gradient(180deg, transparent 20%, rgba(255, 255, 255, 0.46) 21%);
  background-repeat: no-repeat;
  background-size: 0 1px;
  background-position: 50% 51%;

  &:hover {
    text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.15);
    background-size: 105% 1px;
  }

  &:visited {
    opacity: .78;
  }

  &:disabled, &[aria-disabled="true"] {
    opacity: .6;
  }
}
