@import "../../../styles/variables";

.Article-Page {
  width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  padding-top: 1.5em;

  .Article-Section {
    min-height: 94vh;
    background: $black_gradient;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .Article-Section__content {
      width: 100%;
      max-width: calc($mobile_width_threshold + 4em);
      padding: 3em 2em 5em;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
  }

  .Article-Section__full-width {
    height: 50vh;
    min-height: 300px;
    width: 100%;
    overflow: hidden;
  }
}
