@import "../../../styles/variables";

.Header {
  //background-color: $main_black;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1.3em 3em;
  z-index: 999;
  position: fixed;
  top: 0;

  &:before {
    background: linear-gradient(
      180deg,
        rgba(0, 0, 0, 1) 1.5em,
        rgba(0, 0, 0, 0.6) 53.5%,
        //rgba(0, 0, 0, 0.6) 76%,
        rgba(0, 0, 0, 0) 100%
    );
    padding-bottom: 5.7em;
    content: '\A';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }

  hr {
    width: 90vw;
  }

  @media screen and (max-width: $mobile_width_threshold) {
    height: $mobile_navbar_height;
    padding: .6em;
  }

  .Hamburger-Button, .Hamburger-Button--active {
    position: fixed;
    left: 12px;
    top: 12px;
    z-index: 999;

    @media screen and (min-width: $mobile_width_threshold + 1) {
      display: none;
    }
  }
}
