@import "../../../styles/variables";

.Icon-Tile {
  margin: 1.5em 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  .Round-Button {
    margin: 0 .6em 0 0;
    font-size: 2em;

    @media screen and (max-width: $mobile_width_threshold) {
      margin: 0 .4em 0 0;
    }
  }

  .Icon-Tile__text {
    font-size: 1.7em;
    text-align: left;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: $mobile_width_threshold) {
      font-size: 1.3em;
    }
  }

  .Hyperlink {
    &[aria-disabled="true"] {
      opacity: 1;
    }
  }
}
